/vendor/
/node_modules/
/.phpunit.cache/
/.env
/.env.backup
/.env.production
/.idea/
/.vscode/
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/app/.gitignore
!/storage/framework/.gitignore
!/storage/logs/.gitignore
*.log
*.cache
.DS_Store
Thumbs.db
